<?xml version="1.0" ?>
<sdf version="1.9" xmlns:xacro="http://ros.org/wiki/xacro">
    <model name='wall'>
        <static>true</static>
        <pose>5 0 0 0 0 0</pose> <!--pose relative to the world-->

        <plugin filename="gz-sim-touchplugin-system"
                name="gz::sim::systems::TouchPlugin">
            <target>diffarm</target>
            <namespace>wall</namespace>
            <time>0.001</time>
            <enabled>true</enabled>
        </plugin>

        <link name='box'>
            <visual name='visual'>
                <geometry>
                    <box>
                        <size>0.5 10.0 2.0</size>
                    </box>
                </geometry>
                <!--let's add color to our link-->
                <material>
                    <ambient>0.0 0.0 1.0 1</ambient>
                    <diffuse>0.0 0.0 1.0 1</diffuse>
                    <specular>0.0 0.0 1.0 1</specular>
                </material>
            </visual>
            <collision name='collision'>
                <geometry>
                    <box>
                        <size>0.5 10.0 2.0</size>
                    </box>
                </geometry>
            </collision>
            <sensor name='sensor_contact' type='contact'>
                <contact>
                    <collision>collision</collision>
                </contact>
            </sensor>
        </link>
    </model>
</sdf>
